/** Main CSS */
body {
  padding-top: 50px;
}

p + ul {
  margin-bottom: 10px;
}

.navbar-brand {
	padding: 7px;
}

.navbar-brand > img {
  display: inline-block;
}

.items {
  margin: 50px auto;
  width: 500px;
}

.items .media {
  background: #eaeaea;
}

.items .media-heading {
  padding-top: 10px;
}

.items .media-object {
  width: 150px;
}

.items .media-left {
  margin: 2% 10px;
}