<!doctype html>
<html>
  <head>
    <title>{{context.title}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">

    <link rel="stylesheet" href="/vendor/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/lib/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/vendor/lib/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="/vendor/lib/jquery/jquery.min.js"></script>
  </head>
  <body>

    {{> "navbar"}}

    <div class="container-fluid main-container">
      {{{body}}}
    </div>

    <script type="text/javascript" src="/vendor/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
